# Duplicate this file, rename it to '.env', and fill in your private credentials.
DATABASE_URL=postgresql://lms_bot_user:bUtk5iKgQsQvrp61VWpXWNIamS3FQjTW@dpg-d8v1kg6gvqtc73bmp0ug-a.oregon-postgres.render.com/lms_bot
TELEGRAM_BOT_TOKEN=8859033499:AAFipUh7hlUEb3LnVTPb7BsURcow4MJpxXg
WEBHOOK_URL=https://moodle-telegram-bot-3ef6.onrender.com/webhook